<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - June 21</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:30 </td>  <td>Welcome and introduction </td> </tr>
      <tr> <td>13:00</td>  <td>Introduction to the Unix Shell</td> </tr>
      <tr> <td>14:00</td>  <td>Coffee</td> </tr>
      <tr> <td>14:15</td>  <td>Automating tasks with the Unix Shell</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td>Automating tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 -  June 22</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Introduction review of instructions and setup</td> </tr>
      <tr> <td>12:50</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>14:00</td>  <td>Coffee</td> </tr>
      <tr> <td>14:15</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>  
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 -  June 28</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Introduction and instructions for the day</td> </tr>
      <tr> <td>12:45</td>  <td>Programming with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 -  June 29</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Introduction and instructions for the day</td> </tr>
      <tr> <td>12:40</td>  <td>Programming with Python (Continued) </td> </tr>
      <tr> <td>14:00</td>  <td>Coffee</td> </tr>
      <tr> <td>14:15</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>15:45</td>  <td> Programming with Python (Continued)</td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>     
    </table>
  </div>
</div>

<h2>Workshop Goals</h2>
<h3>Unix Shell</h3>

This part of the workshop aims to familiarise you with the basic shell commands and their usage. 
After completing this workshop you will be able to:

* Understand the fundamental aspects of scientific computing that you will often come across such as file path notations and remote and high performance computing clusters.

* Understand basics of the Bash scripting language, and its utility to record and automate iterative tasks which will allow you to work more efficiently with large numbers of files. 

<h3>Python</h3>

This part of the workshop will teach you how to use Python to perform data analysis and process automation. You will learn basic Python commands, libraries and programming principles. 
After completing this workshop you will be able to:

* Write code and run programs using Jupyter notebook, text/code editor or command line, which allows you to create simple plots and evaluate your datasets.
* Understand how well-written and annotated code is a fundamental component of a reproducible research workflow (code produces the same result, same code can be used with other suitable datasets, etc.).

<h3>Git(Hub)</h3>

This part of the workshop will teach you how to use version control through basic Git commands to keep track of your code. 
After completing this workshop you will be able to: 

* Set up a local Git repository and identify changes/versions of this repository.

* Connect your local repository to a remote repository on GitHub to collaborate with others.
